@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  
}

.tasks{ 
  
  width: 900px;
  height: fit-content;  
  
}
.tasks h2{
  width: 100%;
 padding-bottom: 20px;
  font-size: 50px;
  margin-right: 60px;
  border-bottom: 2px solid black;
  margin-bottom: 50px;
}

.addTaskButton{
  background-color: white;
  font-size: 20px;
  
  border: 2px solid orange;
  border-radius: 15px;
  position: absolute;
  top: 0px;
  right: -20px
}

.deleteTaskButton{
  background-color: white;
  font-size: 20px;
  margin-left: 700px;
  border: 2px solid orange;
  border-radius: 15px;
  
  
}

.deleteTaskButton:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.addTaskButton:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.task-preview{
  
  border-radius: 5px;
  width: 100%;
  text-align: left;
  border: 2px solid rgba(215, 147, 147, 0.1);
  height: fit-content;
  font-size: 25px;
  
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 50px;
  
  font-style: none;
  margin: 0 auto;
  position: relative;

}


.task-preview:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.task-preview p{
  padding-bottom: 20px;
}

.create-subtask, .create-task  {
  padding-top: 150px;
  
  align-items: center;
  width: 500px;
  margin: 0 auto;
}
.create-subtask label{
  font-size: 40px;
  
}

.create-subtask select, input{
  width: 100%;
  margin-top: 10px;
}

.create-subtask button{
  font-size: 20px;
  margin-top: 20px;
  width: 30%;
  height: 50px;
  
}



.create-task label{
  font-size: 40px;
  
}

.create-task select, input{
  width: 100%;
  margin-top: 10px;
}

.create-task button{
  font-size: 20px;
  margin-top: 20px;
  width: 30%;
  height: 50px;
  
}

.navbar{
  margin-bottom: 25px;
  height: 120px;
  background-color: rgba(216, 195, 195, 0.8);
  font-size: 60px;
  border-bottom: 4px solid rgba(216, 195, 195, 0.8);
  width: 100%;
  
}

.navbar .link{
  
  margin-left: 50px;
  
  
}




.updateTaskButton{
  font-size: 20px;
  background-color: white;
  border: 2px solid orange;
  border-radius: 15px;
  margin-left: 700px;
  
  
}

.updateTaskButton:hover{

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  
}


.update-task {
  font-size: 30px;
  width: 500px;
  margin: auto
}


.home {
  width: fit-content;
  margin: 0 auto;
}

.tasks {
  margin: 0 auto;
  position: relative
}